<h1>Welcome to Caravaggio!</h1>

<script>
  var models = <%= @models.to_json.html_safe %>;
  var associations = <%= @associations.to_json.html_safe %>;
</script>
  
<div id="container">
  <div id="sidebar">
    <ul>
      <% @models.each do |model| %>
        <li><%= check_box_tag model[:friendly_name], model[:friendly_name] %> <%= model[:short_name] %></li>
      <% end %>
    </ul>
  </div>
  <div id="canvas">
    <svg id="model-diagram" width="1000" height="2000" />
  </div>
</div>