<h1>Welcome to Caravaggio!</h1>

<p>Caravaggio was a master of chiaroscuro, or the careful use of lighting in paintings to draw attention to specific parts of a scene.<p>
<%= image_tag "/assets/david_and_goliath.jpg", height: 300 %>
<p>He painted this in 1610 as a plea for mercy.  At the time, he was a fugitive from justice, having committed a murder.  In the painting, the head of Goliath is a self-portrait.</p>

<h2>A JSON version of your Rails models</h2>

<h3>(Imagine a pretty interactive diagram here!)</h3>

<%= @canvas %>