div#sidebar {
  width: 15%;
  float: left;
  padding: 10px;
  height:100vh;
  min-height:100vh;
  overflow: scroll;
}

div #canvas {
  width: auto;
  float: left;
  padding: 10px;
  border: 2px solid red;
  height:100vh;
  min-height:100vh;
  overflow: scroll;
}

.belongs_to {
  stroke: red;
  color: red;
  fill: red;
}

.has_many {
  stroke: green;
  color: green;
  fill: green;
}

.has_one {
  stroke: blue;
  color: blue;
  fill: blue;
}

.has_and_belongs_to_many {
  stroke: orange;
  color: orange;
  fill: orange;
}
