html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#93a9fc, #ccc);
}

.color-key {
  background: #fff;
  border: 3px solid #414652;
}
svg {
  background: #fff;
}

h1 {
  text-align: center;
  padding: 10px 0px;
}

h2, h3 {
  text-align: center;
}

div.sidebar {
  float: left;
  padding: 0px 3px;
  height: 85vh;
  min-height: 85vh;
  overflow-y: scroll;
}

div.left-sidebar {
  width: 15%;
}

div.right-sidebar {
  width: 18%;
}

ul {
  list-style-type: none;
  padding-left: 5px;
}

li {
  margin-left: 2em; 
  text-indent: -2em;
}

div#canvas {
  border: 5px solid #414652;
  max-width: 65%;
  float: left;
  height: 85vh;
  min-height: 85vh;
  overflow: scroll;
}

.belongs_to {
  stroke: red;
  color: red;
  fill: red;
}

.has_many {
  stroke: green;
  color: green;
  fill: green;
}

.has_one {
  stroke: blue;
  color: blue;
  fill: blue;
}

.has_and_belongs_to_many {
  stroke: orange;
  color: orange;
  fill: orange;
}

.hidden {
  display: none;
}